<!-- <h1>Member Sign In</h1> -->
<mat-card class="login-card">
  <mat-card-header>
          <div mat-card-avatar class="logo-image"></div>
</mat-card-header>
<form class="example-container" [formGroup]="form">
  <mat-form-field class="my-class">
          <input matInput #input formControlName="userName"  placeholder="charactername">
        </mat-form-field>
  <mat-form-field>
      <input type="password" formControlName="password" placeholder="password" matInput>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="form.invalid"(click)="memberLogIn()">submit</button>
</form>
<span *ngIf="errorMessage">{{errorMessage}}</span>
</mat-card>
